---
import Layout from "../layouts/Layout.astro";

import Navigation from "@/components/Navigation";
import HeroSection from "@/components/HeroSection";
import ServicesSection from "@/components/ServicesSection";
import PortfolioSection from "@/components/PortfolioSection";
import ContactSection from "@/components/ContactSection";
import Footer from "@/components/Footer";

import AnimatedBackground from "@/components/AnimatedBackground";
import BackgroundBeams from "@/components/BackgroundBeams";
---

<Layout>
	<div class="min-h-screen bg-background dark:bg-zinc-900 text-foreground relative">
		<AnimatedBackground client:only />
		<BackgroundBeams client:only />

		<Navigation client:load />
		<HeroSection />
		<ServicesSection />
		<PortfolioSection />
		<ContactSection />
		<Footer />
	</div>
</Layout>